@charset "utf-8";
/* CSS Document */
.st5:hover {
  font-weight: bold;
  outline: 2px solid white;
  outline-offset: 3px;
  border-radius: 2px;
}
<style>
  .clickable-link {
    fill: white;
  }
</style>